* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "fontset", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fontset";
  src: url(./GenSekiGothic-B.ttc);
}
header,
body {
  height: 100%;
}
// 定義漸層顏色變數
$gradient-colors: #ffffff, #6dd5fa, #2980b9;

header {
  background: linear-gradient(to right, $gradient-colors);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  div.logo {
    display: flex;
    align-items: center;
    flex: 3 1 400px;
    padding: 0.75rem 1rem;
    img.plg {
      max-width: 12%;
      height: auto;
      vertical-align: middle;
    }
    img.t1 {
      max-width: 18%;
      height: auto;
      vertical-align: middle;
    }
  }
}

nav {
  flex: 2 1 400px;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    li {
      a {
        padding-right: 3rem;
        color: hsl(225, 49%, 18%, 50%);
        text-decoration: none;
        font-size: 1.75rem;
      }
    }
  }
}

.active {
  color: white;
}

nav ul li a:hover {
  color: rgb(255, 255, 255, 80%);
  transition: 1s;
}

.standings {
  background: #172243;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: #ffffff;
    padding: 2rem;
    font-size: 3rem;
  }
}

.table-title {
  margin: 2rem;
  h3 {
    font-size: 1.5rem;
    padding: 0rem 2rem;
  }
  a {
    padding-left: 3rem;
    color: hsl(225, 49%, 18%, 50%);
    text-decoration: none;
    font-size: 1rem;
  }
  a:hover {
    color: #2980b9;
    transition: 1s;
  }
}

.table-body {
  width: 80%;
  margin: auto;
  td.teams-name {
    color: RGB(127, 127, 127);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img.teamlogo {
      flex: 3 1 400px;
      max-width: 20%;
      height: auto;
      vertical-align: middle;
      margin-right: 2rem;
    }
    a {
      display: inline-block;
      color: hsl(225, 49%, 18%, 50%);
      text-decoration: none;
      font-size: 1.25rem;
      vertical-align: middle;
      margin-left: 0;
    }
    a:hover {
      color: #172243;
      transition: 1s;
    }
  }

  table {
    border-spacing: 0;
    width: 100%;
  }
  td {
    justify-content: center;
    padding: 1rem 3rem;
    font-size: 1.25rem;
  }
  tr {
    text-align: center;
  }
  th {
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.5rem 0rem;
  }
  table tbody tr:nth-child(odd) {
    //奇數列背景顏色
    background-color: #eee;
  }
  table thead {
    background-color: #172243;
    color: white;
  }

  //對四個角的要素做調整
  table thead th:first-child {
    border-radius: 5px 0 0 0;
  }
  table thead th:last-child {
    border-radius: 0 5px 0 0;
  }
  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }

  table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }
}

//show more頁面
.season-team-select {
  display: flex;
  align-items: center;
  margin: 1rem;

  .season-select,
  .team-select-container {
    margin-right: 1rem;
  }

  label {
    font-weight: bold;
    margin-right: 1rem;
  }

  select,
  input[type="text"] {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  select {
    appearance: none;
    //下拉符號
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 30px;
  }

  .team-select-container {
    display: flex;
    align-items: center;

    .team-select {
      margin-right: 10px;
    }

    .dropdown {
      position: relative;
      display: inline-block;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 200px;
        overflow-y: auto;
      }

      .dropdown-content label {
        display: block;
        padding: 8px 12px;
        cursor: pointer;

        &:hover {
          background-color: #f1f1f1;
          color: #103dc3;
        }
      }
    }

    .confirm-btn {
      padding: 8px 16px;
      background-color: #172243;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
.table-container {
  width: 85%;
  margin: auto;
  overflow-x: auto; // 設置水平捲動
}

.showMoreTable {
  width: 100%;
  min-width: 800px; // 設置最小寬度
  border-spacing: 0;

  td {
    justify-content: center;
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  tr {
    text-align: center;
  }

  th {
    justify-content: center;
    padding: 1rem 0.25rem;
    font-size: 1rem;
  }

  tbody tr:nth-child(odd) {
    // 奇數列背景顏色
    background-color: #eee;
  }

  thead {
    background-color: #172243;
    color: white;
  }
}
