.footer {
  background-color: #172243;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 8rem;
  position: relative;
  bottom: 0;
  width: 100%;

  .footer-content {
    margin-bottom: 10px;
  }

  .footer p {
    margin: 5px 0;
    font-size: 14px;
  }

  .footer-social a {
    color: #80c2ff;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-social a:hover {
    color: #2980b9;
  }
}
