.home-container {
  .index {
    position: relative; /* 新增，確保 .button-container 可以相對於圖片定位 */
    text-align: center; // 將內容置中
    padding: 2rem 0; // 上下內邊距調整
    overflow: hidden; /* 防止圖片過大超出容器 */
    .index-image {
      max-width: 90%; // 限制圖片寬度為容器的50%，讓圖片縮小
      height: auto; // 確保圖片等比縮放
      margin: 0 auto; // 使圖片居中
    }
    .index-line {
      width: 90%; // 與圖片寬度一致
      margin: 1rem auto; // 線條居中
      border-top: 2px solid #ccc; // 加上細線
    }
    .button-container {
      position: absolute; /* 新增，將按鈕容器設為絕對定位 */
      top: 50%; /* 新增，垂直居中 */
      left: 50%; /* 新增，水平居中 */
      transform: translate(-50%, -50%); /* 新增，讓按鈕真正居中 */
      z-index: 1; /* 新增，確保按鈕在圖片上層 */
      display: flex;
      flex-direction: row; // 水平排列
      .button1,
      .button2 {
        font-size: 1.5rem;
        border-radius: 8px;
        padding: 1rem;
        cursor: pointer;
        width: 150px;
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        &:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }
      }

      .button1 {
        background-color: #172243;
        color: white;
      }

      .button2 {
        background-color: #ffe700;
        color: white;
      }
    }

    // 在大螢幕下（1200px 以上）增加按鈕間距
    @media (min-width: 1200px) {
      .button1 {
        margin-right: 10rem; // 加大間距，避免放大後重疊
      }
      .button2 {
        margin-left: 10rem;
      }
    }

    // 在小螢幕（768px 以下）縮小按鈕間距
    @media (max-width: 768px) {
      .button1 {
        margin-right: 1rem;
      }
      .button2 {
        margin-left: 1rem;
      }
    }

    // 當視窗極小（500px 以下）或極大（1600px 以上）時，改為垂直堆疊
    @media (max-width: 500px), (min-width: 1600px) {
      flex-direction: column;
      .button1 {
        margin-right: 5rem;
        margin-bottom: 1.5rem; // 垂直間距
      }
      .button2 {
        margin-left: 5rem;
      }
    }
  }

  .content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 5rem 5rem;
    width: 80%;
    max-width: 1000px; // 設定最大寬度
    overflow: hidden;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .button {
      font-size: 1rem;
      border-radius: 8px;
      margin: 1rem 0rem;
      padding: 0.5rem;
      background-color: #172243;
      color: white;
      cursor: pointer;
      box-shadow: 0 4px 2px #172243;

      &:hover {
        box-shadow: 0 4px 8px #172243;
      }
    }
    .content-image {
      max-width: 50%; // 保證圖片不會過大
      height: auto;
      border-radius: 10px;
      transition: transform 0.5s ease;
      margin: 1rem; // 增加圖片和文字間距
    }

    .content-text {
      text-align: left;
      padding: 2rem;
      max-width: 45%;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
        color: #555;
        margin-top: 1rem;
      }
    }

    &.left-to-right {
      .content-image {
        flex-direction: row; // 保持圖片在左側
        transform: translateX(-100%);
        animation: slideInLeft 2s forwards;
      }
    }

    &.right-to-left {
      margin-top: 5rem;
      margin-left: auto; // 將此盒子推到父容器的最右側
      .content-image {
        flex-direction: row-reverse; // 將圖片放置到右側
        transform: translateX(100%);
        animation: slideInRight 2s forwards;
      }
    }
  }

  .section {
    text-align: center;
    margin: 3rem 0rem 8rem 0rem;

    h1 {
      color: #3498db;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }

    h2 {
      color: #172243;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }

    p {
      color: #7f8c8d;
      font-size: 1.2rem;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.5;
    }

    .features {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
      .feature {
        background: #fff;
        border-radius: 10px;
        padding: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s;
        max-width: 300px;
        &:hover {
          transform: scale(1.05);
        }

        i {
          font-size: 3rem;
          color: #3498db;
        }

        h3 {
          font-size: 1.5rem;
          margin: 1rem 0;
          color: #34495e;
        }

        p {
          font-size: 1.05rem;
          border-top: 1px solid #ccc; // 添加虛線
          padding-top: 1rem; // 為了讓內容不緊貼虛線，添加內邊距
          margin-top: 1rem; // 與上方內容保持距離
          color: #7f8c8d;
        }
      }
    }
  }

  .team {
    h1 {
      color: #71b9e9;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }
    h2 {
      color: #fff;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }
    background-color: #172243;
    padding: 3rem;
    color: #ecf0f1;
  }
  .image-text-container {
    margin: 3rem 0rem 5rem 0rem;
    text-align: center;
    display: flex; /* 改為 flex 布局 */
    justify-content: space-around; /* 增加空隙 */
    flex-wrap: wrap; /* 保證元素在小螢幕時可以換行 */
    .image-container {
      position: relative;
      width: 300px;
      h3 {
        margin-top: 0.5rem;
        font-size: x-large;
      }

      p {
        margin-top: 0.5rem;
      }

      .image {
        margin: 3rem 1rem 0.5rem 1rem;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transition: opacity 0.3s ease; /* 確保圖片在淡出時過渡順暢 */
      }

      //圖片內的文字
      .hover-text {
        margin: 0rem 1rem 0rem 1rem;
        padding: 0.5rem 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        opacity: 0; /* 初始化時隱藏 */
        transition: opacity 0.3s ease;
        width: 300px; /* 固定寬度 */
        height: 300px; /* 固定高度 */
        display: flex;
        overflow: hidden; /* 如果文字過多，隱藏超出的部分 */
      }
    }
  }

  .tech-section {
    text-align: center;
    margin-top: 5rem;
    h1 {
      color: #71b9e9;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }
    h2 {
      color: #172243;
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      animation: slideIn 1s ease-in-out;
    }

    .tech-card {
      display: inline-block;
      background-color: #172243;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      width: 200px;
      height: 200px;
      margin: 1rem;
      vertical-align: top;
    }

    .tech-card h3 {
      background-color: #fff;
      color: #172243;
      padding: 0.5rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    .tech-card ul {
      list-style: none;
      padding: 0;
    }

    .tech-card li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      color: #71b9e9;
    }
  }
}
//淡入動畫
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
