.news-container {
  display: flex;
  justify-content: center; /* 使九宮格居中 */
  align-items: center;
  flex-direction: column; /* 將內容垂直排列 */
  .month-selector {
    width: 100%;
    display: flex;
    justify-content: center; /* 確保按鈕與標題居中對齊 */
    align-items: center;
    background-color: #172243;
    h1 {
      margin: 0 1rem; /* 增加標題與按鈕的間距 */
      font-size: 1.75rem;
      color: #ffffff;
      text-align: center;
      margin: 1rem;
    }
    span {
      //span箭頭設定
      cursor: pointer;
      margin-left: 5px;
      color: white;
      font-size: 1.5rem;
      &:hover {
        color: #80c2ff;
        transition: 1s; // 當鼠標懸停時改變箭頭顏色
      }
    }
  }

  .news-empty {
    font-size: 1.5rem;
    color: #666;
    text-align: center;
    margin-top: 1rem; /* 減少與月份選擇器的間距 */
    margin-bottom: 1rem; /* 減少下方留白 */
  }

  .news-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* 格子之間的間距 */
    width: 80%; /* 容器寬度 */
    max-width: 1200px; /* 設定最大寬度 */
    .news-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* 提升陰影效果 */
      transition: transform 0.3s, box-shadow 0.3s; /* 改善卡片懸浮效果 */
      padding: 1rem;
      overflow: hidden; /* 防止內容溢出 */
    }

    .news-card:hover {
      transform: translateY(-10px); /* 懸浮時卡片上移 */
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* 懸浮時增加陰影 */
    }

    .news-image img {
      width: 100%;
      height: 200px; /* 調整圖片高度 */
      object-fit: cover; /* 確保圖片不會變形 */
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .news-title {
      padding: 15px;
      font-size: 1.2rem; /* 增加字體大小 */
      color: #172243;
      text-align: center;
      font-weight: 600; /* 增加字體粗細 */
    }
  }
}
