.Players {
  .table-container {
    .year-selector {
      select,
      input[type="text"] {
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }
      select {
        appearance: none;
        //下拉符號
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        background-position: right 5px center;
        padding-right: 30px;
        margin: 1rem 0rem;
      }
      select:focus {
        outline: none;
        border-color: #020202; /* 聚焦時的邊框顏色 */
      }
    }
    h2 {
      text-align: center;
      margin: 1rem 1rem 0.25rem;
      color: black;
    }
    h1 {
      margin: 1rem 0rem 1rem;
      border-bottom: 3px solid rgb(211, 210, 210); // 在標題下方增加深色邊線
    }
    width: 85%;
    margin: auto;
    overflow-x: auto; // 設置水平捲動
  }
  .datatable {
    width: 100%;
    min-width: 800px; // 設置最小寬度

    td {
      justify-content: center;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      word-wrap: break-word; // 允許文字換行
      white-space: normal; // 讓文字正常換行
      width: 150px; // 調整球隊名稱欄位的寬度
    }

    tr {
      text-align: center;
    }

    th {
      justify-content: center;
      padding: 1rem 0.25rem;
      font-size: 1rem;
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    thead {
      background-color: #172243;
      color: white;
    }
    // 修改 "球員" 欄位的寬度
    td:first-child,
    th:first-child {
      color: #eee;
      width: 120px; // 設定 "球隊" 欄位的寬度為200px，根據需要調整
      min-width: 120px; // 確保即使表格重新渲染，寬度依然保持
      max-width: 120px; // 確保即使表格重新渲染，寬度依然保持
      position: sticky;
      left: 0;
      background-color: #172243; // 確保固定的欄位背景與其他欄位一致
      z-index: 1; // 確保固定的欄位在最上層
    }
    // 修改 "球隊" 欄位的寬度
    td:nth-child(4),
    th:nth-child(4) {
      min-width: 160px;
      max-width: 16px;
      left: 0;
    }
    // 修改 "場均上場" 欄位的寬度
    td:nth-child(6),
    th:nth-child(6) {
      width: 130px;
      min-width: 130px;
      max-width: 130px;
      left: 0;
    }
  }
}
