.Players {
  .selector {
    display: flex;
    gap: 2rem; /* 讓篩選器之間保持間距 */
    padding: 0.5rem;
    margin: 2rem 0rem 1rem 3rem;
    select {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      background-color: #f8f8f8;
      background-position: right 5px center;
      appearance: none;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
      width: 8%; //篩選器寬度保持一致
    }

    .react-select__placeholder {
      color: black; /* 設定選擇球隊的 placeholder 文字顏色為黑色 */
    }
    .react-select__control {
      background-color: #f8f8f8; /* 設定 placeholder 的背景顏色 */
    }

    .react-select__option--is-focused {
      background-color: #f8f8f8; /* 設定選中時的背景顏色 */
      color: black; /* 文字顏色 */
    }

    // 將篩選器放在同一行
    .filter-container {
      display: flex;
      justify-content: space-between; // 調整間距
      align-items: center; // 垂直居中

      .year-selector,
      .position-selector,
      .team-selector {
        flex: 1; // 保持相等的寬度
      }
    }
    input {
      background-color: #f8f8f8;
      color: black;
      border: 1px solid #ccc;
      font-size: 1rem;
      border-radius: 4px;
      padding: 0.5rem;
      width: 10%;
    }
  }
  .pagination {
    //選頁按鈕
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      margin: 0 5px;
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      cursor: pointer;
      &.active {
        background-color: #172243;
        color: white;
        border-color: #172243;
      }

      &:hover {
        background-color: #0d1a33;
        color: white;
      }
    }
  }
  .sort-arrow {
    //span箭頭設定
    margin-left: 5px;
    color: white;
    font-size: 10px;
  }
  h2 {
    text-align: center;
    margin: 0rem 0rem 0.25rem;
    padding: 1rem 0rem;
    color: white;
    background-color: #172243;
  }
  //表格
  .table-container {
    width: 85%;
    margin: auto;
    overflow-x: auto;
    .no-data-message {
      font-size: 4rem;
      text-align: center;
      color: #ccc;
      margin: 3rem 0rem;
    }
  }
  .datatable {
    width: 100%;
    min-width: 800px;

    td {
      justify-content: center;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      word-wrap: break-word;
      width: 150px;
    }

    tr {
      text-align: center;
    }

    th {
      justify-content: center;
      padding: 1rem 0.25rem;
      font-size: 1rem;
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    thead {
      background-color: #172243;
      color: white;
    }

    td:first-child,
    th:first-child {
      color: #eee;
      width: 120px;
      min-width: 120px;
      max-width: 120px;
      position: sticky;
      left: 0;
      background-color: #172243;
      z-index: 1;
    }

    td:nth-child(4),
    th:nth-child(4) {
      min-width: 160px;
      max-width: 160px;
    }

    td:nth-child(6),
    th:nth-child(6) {
      width: 130px;
      min-width: 130px;
      max-width: 130px;
    }
  }
}
