.Players {
  .table-container {
    .year-selector,
    .position-selector,
    .team-selector {
      display: inline-block;
      vertical-align: top;
      padding: 0.5rem;
      margin-right: 1rem;

      select,
      input[type="text"] {
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }

      select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        background-position: right 5px center;
        padding-right: 30px;
        margin: 1rem 0;
      }

      select:focus {
        outline: none;
        border-color: #020202;
      }
    }

    // 將篩選器放在同一行
    .filter-container {
      display: flex;
      justify-content: space-between; // 調整間距
      align-items: center; // 垂直居中

      .year-selector,
      .position-selector,
      .team-selector {
        flex: 1; // 保持相等的寬度
      }
    }

    h2 {
      text-align: center;
      margin: 0rem 0rem 0.25rem;
      padding: 1rem 0rem;
      color: white;
      background-color: #172243;
    }

    width: 85%;
    margin: auto;
    overflow-x: auto;
  }

  .datatable {
    width: 100%;
    min-width: 800px;

    td {
      justify-content: center;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      word-wrap: break-word;
      white-space: normal;
      width: 150px;
    }

    tr {
      text-align: center;
    }

    th {
      justify-content: center;
      padding: 1rem 0.25rem;
      font-size: 1rem;
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    thead {
      background-color: #172243;
      color: white;
    }

    td:first-child,
    th:first-child {
      color: #eee;
      width: 120px;
      min-width: 120px;
      max-width: 120px;
      position: sticky;
      left: 0;
      background-color: #172243;
      z-index: 1;
    }

    td:nth-child(4),
    th:nth-child(4) {
      min-width: 160px;
      max-width: 160px;
    }

    td:nth-child(6),
    th:nth-child(6) {
      width: 130px;
      min-width: 130px;
      max-width: 130px;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    button {
      margin: 0 5px;
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      cursor: pointer;

      &.active {
        background-color: #172243;
        color: white;
        border-color: #172243;
      }

      &:hover {
        background-color: #0d1a33;
        color: white;
      }
    }
  }
}
