@charset "UTF-8";
.Players .selector {
  display: flex;
  gap: 2rem; /* 讓篩選器之間保持間距 */
  padding: 0.5rem;
  margin: 2rem 0rem 1rem 3rem;
}
.Players .selector select {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f8f8f8;
  background-position: right 5px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
  width: 8%;
}
.Players .selector .react-select__placeholder {
  color: black; /* 設定選擇球隊的 placeholder 文字顏色為黑色 */
}
.Players .selector .react-select__control {
  background-color: #f8f8f8; /* 設定 placeholder 的背景顏色 */
}
.Players .selector .react-select__option--is-focused {
  background-color: #f8f8f8; /* 設定選中時的背景顏色 */
  color: black; /* 文字顏色 */
}
.Players .selector .filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Players .selector .filter-container .year-selector,
.Players .selector .filter-container .position-selector,
.Players .selector .filter-container .team-selector {
  flex: 1;
}
.Players .selector input {
  background-color: #f8f8f8;
  color: black;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem;
  width: 10%;
}
.Players .pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.Players .pagination button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}
.Players .pagination button.active {
  background-color: #172243;
  color: white;
  border-color: #172243;
}
.Players .pagination button:hover {
  background-color: #0d1a33;
  color: white;
}
.Players .sort-arrow {
  margin-left: 5px;
  color: white;
  font-size: 10px;
}
.Players h2 {
  text-align: center;
  margin: 0rem 0rem 0.25rem;
  padding: 1rem 0rem;
  color: white;
  background-color: #172243;
}
.Players .table-container {
  width: 85%;
  margin: auto;
  overflow-x: auto;
}
.Players .table-container .no-data-message {
  font-size: 4rem;
  text-align: center;
  color: #ccc;
  margin: 3rem 0rem;
}
.Players .datatable {
  width: 100%;
  min-width: 800px;
}
.Players .datatable td {
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  word-wrap: break-word;
  width: 150px;
}
.Players .datatable tr {
  text-align: center;
}
.Players .datatable th {
  justify-content: center;
  padding: 1rem 0.25rem;
  font-size: 1rem;
}
.Players .datatable tbody tr:nth-child(odd) {
  background-color: #eee;
}
.Players .datatable thead {
  background-color: #172243;
  color: white;
}
.Players .datatable td:first-child,
.Players .datatable th:first-child {
  color: #eee;
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  position: sticky;
  left: 0;
  background-color: #172243;
  z-index: 1;
}
.Players .datatable td:nth-child(4),
.Players .datatable th:nth-child(4) {
  min-width: 160px;
  max-width: 160px;
}
.Players .datatable td:nth-child(6),
.Players .datatable th:nth-child(6) {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}/*# sourceMappingURL=Players.css.map */