.show-more-container {
  .season-team-select {
    display: flex;
    align-items: center;
    margin: 2rem 0rem 1rem 3rem;
    padding: 0.5rem;
    .season-select {
      margin-right: 2rem;
    }
    select {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      background-color: #f8f8f8;
      background-position: right 5px center;
      appearance: none;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
      width: 8%; //篩選器寬度保持一致
    }
    .react-select__placeholder {
      color: black; /* 設定選擇球隊的 placeholder 文字顏色為黑色 */
    }
    .react-select__control {
      background-color: #f8f8f8; /* 設定 placeholder 的背景顏色 */
    }

    .react-select__option--is-focused {
      background-color: #f8f8f8; /* 設定選中時的背景顏色 */
      color: #172243; /* 文字顏色 */
    }
  }

  .table-container {
    width: 85%;
    margin: auto;
    overflow-x: auto; // 設置水平捲動
  }

  .showMoreTable {
    width: 100%;
    min-width: 800px; // 設置最小寬度
    //border-spacing: 0; 註解就會產生白線

    td {
      justify-content: center;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      word-wrap: break-word; // 允許文字換行
      white-space: normal; // 讓文字正常換行
      width: 150px; // 調整球隊名稱欄位的寬度
    }

    tr {
      text-align: center;
    }

    th {
      justify-content: center;
      padding: 1rem 0.25rem;
      font-size: 1rem;
    }

    tbody tr:nth-child(odd) {
      // 奇數列背景顏色
      background-color: #eee;
    }

    thead {
      background-color: #172243;
      color: white;
    }
    // 修改 "球隊" 欄位的寬度
    td:first-child,
    th:first-child {
      color: #eee;
      width: 160px; // 設定 "球隊" 欄位的寬度為200px，根據需要調整
      min-width: 160px; // 確保即使表格重新渲染，寬度依然保持
      max-width: 160px; // 確保即使表格重新渲染，寬度依然保持
      position: sticky;
      left: 0;
      background-color: #172243; // 確保固定的欄位背景與其他欄位一致
      //z-index: 1; // 確保固定的欄位在最上層
    }
  }
  h2 {
    text-align: center;
    margin: 0rem 0rem 2rem;
    padding: 1rem 0rem;
    color: white;
    background-color: #172243;
  }
  .sort-arrow {
    //span箭頭設定
    margin-left: 5px;
    color: white;
    font-size: 10px;
  }
}
