{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="XiaoN" />
    <meta name="robots" content="index,follow " />
    <meta name="description" content="" />
    <title>Taiwan Basketball Professional League</title>
    <link rel="stylesheet" href="{%static 'style/style.css' %}" />
    <link rel="stylesheet" href="{%static 'style/style.scss' %}" />
    <!--icon-->
    <!--link rel="shortcut icon" href="./.png" /-->
    <!--link rel="bookmark" href="./.png" /-->
  </head>
  <body>
    <!--標題-->
    <header>
      <div class="logo">
        <img src="{%static 'icon/plg.png' %}" alt="PLG Logo" class="plg" />
        <img src="{%static 'icon/t1.png'%}" alt="t1 Logo" class="t1" />
      </div>
      <!--導覽列-->
      <nav>
        <ul>
          <li>
            <a href="#" class="active">戰績</a>
          </li>
          <li>
            <a href="">數據</a>
          </li>
          <li>
            <a href="">賽程</a>
          </li>
          <li>
            <a href="">球隊</a>
          </li>
          <li>
            <a href="">消息</a>
          </li>
          <li>
            <a href="{% url 'login' %}">登入</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--主要內容-->
    <main>
      <div class="standings">
        <h2>RANKINGS</h2>
      </div>

      <div class="table-title">
        <h3>PLG 例行賽</h3>
        <a href="{% url 'showMore' %}">show more⭢</a>
      </div>
      <div class="table-body">
        <table>
          <thead>
            <th>排名</th>
            <th>球隊</th>
            <th>已賽 GP</th>
            <th>勝場 W</th>
            <th>敗場 L</th>
            <th>勝率</th>
            <th>勝差</th>
            <th>連續紀錄</th>
          </thead>
          <tbody>
            {% for standing in standings %}
            <tr>
              <td>{{ standing.rank }}</td>
              <td class="teams-name">
                <img
                  class="teamlogo"
                  src="{% static 'icon/'|add:standing.team_name|add:'.png' %}"
                />
                <a href=""> {{ standing.team_name }} </a>
              </td>
              <td>{{ standing.games_played }}</td>
              <td>{{ standing.wins }}</td>
              <td>{{ standing.losses }}</td>
              <td>{{ standing.pct }}</td>
              <td>{{ standing.games_behind }}</td>
              <td>{{ standing.wins_losses_streak }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="table-title">
        <h3>T1 例行賽戰績</h3>
        <a href="{% url 'showMore' %}">show more⭢</a>
      </div>

      <div class="table-body">
        <table>
          <thead>
            <th>排名</th>
            <th>球隊</th>
            <th>已賽 GP</th>
            <th>勝場 W</th>
            <th>敗場 L</th>
            <th>勝率</th>
            <th>勝差</th>
            <th>連續紀錄</th>
          </thead>
          <tbody>
            {% for standing in t1_standings %}
            <tr>
              <td>{{ standing.rank }}</td>
              <td class="teams-name">
                <img
                  class="teamlogo"
                  src="{% static 'icon/'|add:standing.team_name|add:'.png' %}"
                />
                <a href=""> {{ standing.team_name }} </a>
              </td>
              <td>{{ standing.games_played }}</td>
              <td>{{ standing.wins }}</td>
              <td>{{ standing.losses }}</td>
              <td>{{ standing.pct }}</td>
              <td>{{ standing.games_behind }}</td>
              <td>{{ standing.wins_losses_streak }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
