{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="XiaoN" />
    <meta name="robots" content="index,follow " />
    <meta name="description" content="" />
    <title>Taiwan Basketball Professional League</title>
    <link rel="stylesheet" href="{%static 'style/style.css' %}" />
    <link rel="stylesheet" href="{%static 'style/style.scss' %}" />

    <!--icon-->
    <!--link rel="shortcut icon" href="./.png" /-->
    <!--link rel="bookmark" href="./.png" /-->
  </head>
  <body>
    <!--標題-->
    <header>
      <div class="logo">
        <img src="{%static 'icon/plg.png' %}" alt="PLG Logo" class="plg" />
        <img src="{%static 'icon/t1.png'%}" alt="t1 Logo" class="t1" />
      </div>
      <!--導覽列-->
      <nav>
        <ul>
          <li>
            <a href="{% url 'index' %}" class="active">戰績</a>
          </li>
          <li>
            <a href="">數據</a>
          </li>
          <li>
            <a href="">賽程</a>
          </li>
          <li>
            <a href="">球隊</a>
          </li>
          <li>
            <a href="">消息</a>
          </li>
          <li>
            <a href="{% url 'login' %}">登入</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--主要內容-->
    <main data-static-url="{% static 't1Json/' %}">
      <select id="seasonSelect">
        <option value="2021-22">2021-22</option>
        <option value="2022-23">2022-23</option>
        <option value="2023-24" selected>2023-24</option>
      </select>
      <label for="teamSelect">選擇球隊:</label>
      <select id="teamSelect" multiple></select>
      <div class="showMoreTable">
        <table>
          <thead>
            <th>球隊</th>
            <th>投籃命中</th>
            <th>投籃出手</th>
            <th>投籃命中率</th>
            <th>二分命中</th>
            <th>二分出手</th>
            <th>二分命中率</th>
            <th>三分命中</th>
            <th>三分出手</th>
            <th>三分命中率</th>
            <th>罰球命中</th>
            <th>罰球出手</th>
            <th>罰球命中率</th>
            <th>得分</th>
            <th>進攻籃板</th>
            <th>防守籃板</th>
            <th>籃板</th>
            <th>助攻</th>
            <th>抄截</th>
            <th>阻攻</th>
            <th>失誤</th>
            <th>犯規</th>
          </thead>
          <tbody id="tableBody">
            <!-- 表格內容將由JavaScript動態添加 -->
          </tbody>
        </table>
      </div>
    </main>
    <script src="{%static 'style/showMore.js' %}"></script>
  </body>
</html>
