* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "fontset", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fontset";
  src: url(./GenSekiGothic-B.ttc);
}
header,
body {
  height: 100%;
}
body {
  position: relative;
}

// 定義漸層顏色變數
$gradient-colors: #ffffff, #6dd5fa, #2980b9;

// 應用漸層背景到 body 元素
body {
  background: linear-gradient(to right, $gradient-colors);
  height: 100vh;
}

h1 {
  padding-top: 10rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.loginform {
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
    background-color: #172243;
    color: white;
  }

  button {
    padding: 1rem;
    background-color: white;
    color: #333333;
    font-size: large;
    border: none;
    border-radius: 0.5rem;
    width: 25%;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
